@page "/CustomerContact"

<h1>Contact Form</h1>
<EditForm Model="userContact" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="container mt-6">
        <div class="d-flex gap-5">
            <div class="form__container w-50">
                <div class="form-group">
                    <label>Full Name</label>
                    <InputText placeholder="Enter your full name" class="form-control"
                        @bind-Value="userContact.FullName" />
                    <ValidationMessage For="@(() => userContact.FullName)" />
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <InputText placeholder="Enter your mail" class="form-control" @bind-Value="userContact.Email" />
                    <ValidationMessage For="@(() => userContact.Email)" />
                </div>
                <div class="form-group">
                    <label>Phone Number</label>
                    <InputText placeholder="Enter your Phone number" class="form-control"
                        @bind-Value="userContact.PhoneNumber" />
                    <ValidationMessage For="@(() => userContact.PhoneNumber)" />
                </div>
                <div class="form-group">
                    <label>Address</label>
                    <InputText placeholder="Enter your address" class="form-control"
                        @bind-Value="userContact.Address" />
                    <ValidationMessage For="@(() => userContact.Address)" />
                </div>
                <div class="form-group">
                    <label>Message</label>
                    <InputTextArea @bind-Value="userContact.Message" class="form-control" rows="4"
                        style="resize: none;" />
                    <ValidationMessage For="@(() => userContact.Message)" />
                </div>
                <div class="form-group">
                    <label>Select service</label>
                    <InputSelect class="form-control" @bind-Value="userContact.service">
                        <option value=""> choose...</option>
                        <option value="Service1"> Service1</option>
                        <option value="Service2"> Service2</option>
                        <option value="Service3"> Service3</option>
                    </InputSelect>
                </div>
                <div class="form-group">
                    <InputCheckbox @bind-Value="userContact.IsAgree" />
                    <label><i> I agree to the terms and conditions</i></label>
                    <ValidationMessage For="@(() => userContact.IsAgree)" />
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
            <div class="form__informat w-50">
                <p><strong>FullName: </strong>@userContact.FullName</p>
                <p><strong>Email: </strong>@userContact.Email</p>
                <p><strong>Phone: </strong>@userContact.PhoneNumber</p>
                <p><strong>Address: </strong>@userContact.Address</p>
                <p><strong>Message: </strong>@userContact.Message</p>
                <p><strong>Service: </strong>@userContact.service</p>
            </div>
        </div>
    </div>
</EditForm>

@code {
    UserContact userContact = new UserContact();

    private void HandleValidSubmit()
    {
        Console.WriteLine("success");
    }
}